html {    
    background-color: #000;
    margin: 0 auto;     
}

.container {    
    /* left: calc((100% - 1170px)/2);*/
    margin: 0 auto;
    background-color: #f87548;
    height: 1170px;
    
}
.felso {  
    width: 1170px;
    text-align: center;
    margin: 0 auto;
    background-color: red;
    display: inline-block;
    top: 5%;
    vertical-align: middle;
    margin-left: calc((100% - 1170px)/2);
    margin-right: calc((100% - 1170px)/2);
    height: 25%;
}

.also {
    width: 1170px;
    margin-left: calc((100% - 1170px)/2);
    display: inline-block;
    text-align:center;
    height: 100%;
}


.phone {
    float: left;    
    width: 33.33%;
    background-color:blue;
    height: 75%;
 }

img#telo {
    position: relative;
    text-align:center;
    margin-top: calc((100% - 707px)/2);
    width: 351px;
    height: 707px;
    top: 25%;
}

.negyzetes {
    width: 66.66%;
    float: left;
    /*background-color: black;*/
    height:75%;
}

.kozep {
    position: relative;
    float: left;
    height: 100%;
    background-color: white;
    width: 50%;
    text-align:center;     
}

.jobb {
    background-color: yellow;
    float: left;  
    width:50%;
    text-align:center;
    height: 100%;       
}

h1,
h2 {   
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    font-weight: lighter;    
    align-content: center;
    align-items: center;    
}

.a {
    margin-top:30%;
    margin-bottom:0;
    font-size: 70px; 
}

.b {
    margin-top:0;
    margin-bottom:0; 
}


h3 {
    font-size: 24px;
    font-family: 'Catamaran', sans-serif;
    font-weight: lighter;  
    margin-top:0;
    margin-bottom:0;
}

p {    
    font-family: 'Muli', sans-serif;   
    font-size: 20px;       
}

#szoveg {
    position: relative;
    text-align:center;
    top:-10%;
}

.egy { 
    position: relative;
    background-color:red;
    float: left;
    height: 50%;   
}

.ketto {
    background-color:purple;
    float: left;
    height: 50%;   
}

.harom {
    background-color:brown;
    float: left;
    height: 50%;  
    border: 5px;
    border-color: white; 
}

.negy {
    background-color:pink;
    float: left;
    height: 50%;   
}

.a,
.b,
.c,
.d {
    margin-bottom:0;   
}

#vonal {
    border:5px;
}

.egy>.b,
.harom>.b {
    border-top: solid;
    border-color: gray;
   
}