font-family: 'Muli',
sans-serif;
body {
    background-color: #000000;
    margin: 0;
    width: 100%;
    height: 100%;
}

#section4 {
    background-image: url("/img/bg-cta.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: brightness(70%)
}

.container {
    padding: 45px 0;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
}

.col-50 {
    float: left;
    padding: 15px;
    width: calc(50%-30px);
}

.col-100 {
    float: left;
    padding: 15px;
    width: calc(100%-30px);
}