#section2 {
    background-color: rgb(253, 202, 75);
    line-height: 50px;
}

#section2 h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: lighter;
}

#section2 img {
    height: auto;
    width: 180px;
}

#section2 a {
    outline: none;
    text-decoration: none;
}

#section2 .col-50 {
    margin: auto;
}