body {
    background-color: white;
    
}

#section3 {
    font-weight: lighter;
    margin: 0;
    text-align: center;
    width: 100%;
    
}

#section3 .container {
    font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
    margin-left: auto;
    padding: 0px;
    width: 900px;
}

#section3 cim {
    margin: 0;
}

#section3 .col-100 {
    float: left;
    padding: 15px;
    text-align: center;
    width: calc(100% - 30px);    
}

#section3 .col-33 {
    float: left;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 70px;
    text-align: center;
    width: calc(33.33% - 44px);
}

#section3 img {
    float: bottom;
    max-width: 100%;
    position: relative;
    text-align: center;
}

#section3 .telo {
    float: left;
    height: 100%;
    margin: 0 !important;   
    padding-right: 0;
    text-align: right;
    
}

#section3 h1,
#section3 h2 {
    align-content: center;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 2%;
    margin-top: 5%;
    color: black;
}

#section3 .a {
    margin-bottom: 0;
    margin-top: 25%;
    color:rgb(150,60,124);
}

#section3 .b {
    margin-bottom: 0;
    margin-top: 0;
}

#section3 h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 0;
}

#section3 p {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    margin-bottom: 5%;
    margin-top: 0;
    color: grey;
}

#section3 #szoveg {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

#section3 .egy {
    float: left;
    height: 50%;
    position: relative;
}

#section3 .ketto {
    float: left;
    height: 50%;
}

#section3 .harom {
    float: left;
    height: 50%;
}

#section3 .negy {
    float: left;
    height: 50%;
}

.egy>.a,
.harom>.a {   
    border-bottom: solid;
    border-width: thin;  
}

.ketto>.a,
.negy>.a {   
    border-top: solid;
    border-width: thin;      
}