#section2 {
    background-color: rgb(253, 202, 75);
    line-height: 35px;
}

#section2 h1 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: lighter;
}

#section2>p {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

#section2 img {
    height: auto;
    width: 150px;
}

#section2 a {
    outline: none;
    text-decoration: none;
}

#section2 .col-50 {
    margin: auto;
}