#section3 {
    background-color: white;
}

#section3 #title {
    font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 5px;
}

#section3 .feature-image {
    vertical-align: top;
}

#section3 img {
    width: 220px;
    position: relative;
    bottom: 30px;
}

#section3 #subtext {
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
}

#section3 .col-100 {
    margin-bottom: 60px;
}

#section3 .col-33 {
    display: inline-block;
    margin: auto;
}

#section3 hr {
    position: relative;
    left: 17px;
    width: 160px;
    border: 0;
    height: 1px;
    background-color: rgb(171, 52, 100);
}

#section3 .left,
#section3 .right {
    display: inline-block;
    width: 50%;
    position: relative;
}

#section3 .left {
    float: left;
}

#section3 .right {
    float: right;
}

#section3 .features-logo {
    font-size: 45px;
}

#section3 .feature-object {
    padding-bottom: 55px;
}